.input,
.output {
  display: none;
  padding: 0.25rem;
}

.input.show,
.output.show {
  display: block;
}
.remove-button {
  vertical-align: top;
  margin-right: 0.25rem;
  display: inline-block;
}

.svg-filename {
  font-style: italic;
  color: #444;
}
