footer {
  margin: 1.5rem auto 5.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0.25rem;
}
.footer-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer-list > li {
  display: inline-flex;
  align-items: center;
}
.footer-list > li > a {
  display: inline-flex;
  align-items: center;
}
