.target-section .slds-checkbox {
  display: flex;
  align-items: center;
}
.target-section .target_label {
  flex: 1;
}

.target-section .slds-col {
  padding-top: 0.5rem;
}
hr {
  margin: 1rem 0;
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-row .slds-text-heading_large {
  flex: 1;
}
