.module-import-help {
  color: #888;
}
.category-title {
  font-size: 1rem;
  font-weight: bold;
}
.submodule-title {
  font-weight: bold;
}
.help-url {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
.help-url a,
.help-url svg {
  line-height: 16px;
  height: 100%;
  vertical-align: top;
}
