.slds-vertical-tabs__nav {
  width: 4rem;
}
@media (min-width: 48rem) {
  .slds-vertical-tabs__nav {
    width: 12rem;
  }
}
.content,
.contents {
  display: none;
}
.contents.show,
.content.show {
  display: block;
}

.files {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.filename {
  flex: 1;
}
.filename.selected {
  background-color: #000;
  color: #fff;
}

.preview-content.selected {
  flex: 1;
  overflow: hidden;
}
